.expense-form{
    border-color: #dc3545;
}

.expense-form input, .expense-form label {
    display: block;
}

.expense-input{
    border-color: #dc3545;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.expense-input:focus {
    outline: none;
}

.expense-button{
    border-color: #dc3545;
    color: #dc3545;
}

.expense-title, .expense-amount {
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    margin-top: 0;
}