.expense-list-body{
    width: 54%;
    /* background-color: aqua; */
    padding:0;
}

.expense-table {
    width: 100%;
    /* border-collapse: separate; */
    border-spacing: 0rem 1rem;
}

.expense-table td {
    /* background-color: pink; */
    text-align: center;
    /* width: 100%; */
}

.icon-header{
    visibility: hidden;
}


