.income-form-body{
    border-color: green;
    border-width: 1px;
    border-style: solid;
    width: 40%;
    padding-left: 1rem;
    margin-bottom: 2rem;
    /* background-color: blue; */
    /* text-align: none; */
}

.income-button-set{
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    /* background-color: blue; */
    width: 32% ;
    display: flex;
    justify-content: space-between;
}

.income-input{
    width: 80%;
}
h4{
    background-color: blue;
    
}

.reset-btn{
    /* border: 1px solid grey; */
    cursor: pointer;
    /* padding: 0.5rem; */
}

/* .reset-btn:hover{
    
} */