.result-body{
    width: 55%;
    /* background-color: green; */
    
}
.item{
    width: 30%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    margin-left: auto;
    margin-right: auto;
}

.item p {
    /* background-color: blue; */
}
.result-body p{
    font-weight: bold;
    text-transform: uppercase;

}

.text-info{
    color: #17a2b8 !important;

}

.fa-naira:before {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    content: "₦";
  }